<footer>
    <div class="content">
        <div class="footer-left">
            <img class="logo" src="../../../assets/icons/portfolio-icon2-removebg-preview.png" alt="" (click)="scrollService.scrollToId('hero')">
            <a href="#" class="legal-link text-hover border-hover">{{'FOOTER.LEGAL_NOTICE' | translate}}</a>
        </div>

        <div class="footer-center">
            <p>© Muzammal Anwar 2025</p>
        </div>

        <div class="footer-right">
            <span class="icon-wrapper">
                <img src="../../assets/icons/hero/Github-button.png" alt="">
            </span>
            <span class="icon-wrapper">
                <img src="../../assets/icons/hero/Email-button.png" alt="">
            </span>
            <span class="icon-wrapper">
                <img src="../../assets/icons/hero/Linkedin-button.png" alt="">
            </span>
        </div>

    </div>
</footer>