<div class="about-me" id="abtme">
   <div class="global-overflow-wrapper">
        <img class="about-glow" src="../../assets/img/about-me/Purple-shadow-about-me.svg" alt="glow" />
    </div>
    <div class="about-text">
        <h2>{{'ABOUT_ME.TITLE' | translate}}</h2>
        <p>{{'ABOUT_ME.INTRO_PARAGRAPH' | translate}}</p>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/nav-icon.svg" alt="Location Icon" width="20" height="20">
            <span>{{'ABOUT_ME.LOCATION' | translate}}</span>
        </div>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/bulb-desktop.svg" alt="Lightbulb Icon" width="20" height="20">
            <span>{{'ABOUT_ME.OPEN_MINDEDNESS' | translate}}</span>
        </div>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/puzzle-desktop.svg" alt="Puzzle Icon" width="20" height="20">
            <span>{{'ABOUT_ME.PROBLEM_SOLVING' | translate}}</span>
        </div>
    </div>

    <div class="image-container">
        <div class="about-image">
            <img src="../../assets/img/hero/dummy-profile-img.png" alt="Profile Picture" />
        </div>
    </div>
    <div class="img-line"></div>
</div>