@use '../styles.scss' as *;

:host {
    display: block;
    overflow-x: hidden !important;
}

.about-glow {
    position: absolute;
    top: 50rem;
    right: -25rem;
    z-index: -1;
    width: auto;
    height: auto;
    pointer-events: none;
}


.about-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6rem;
    height: 100vh;
    margin: 0px 0px 0px 118px;

    .about-text {
        max-width: 650px;
        color: $color-click;
        width: fit-content;
        height: auto;

        h2 {
            font-weight: 700;
            font-size: 90px;
            line-height: 50%;
            letter-spacing: 0%;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        .icon-block {
            display: flex;
            align-items: start;
            gap: 24px;
            margin-bottom: 1rem;

            img {
                width: 48px;
                height: 48px;
            }

            i {
                color: $color-secondary;
                font-size: 1.2rem;
                margin-top: 0.2rem;
            }

            span {
                color: white;
            }
        }
    }

    .about-image {
        position: relative;
        border: 4px solid $color-primary;
        border-radius: 50%;
        padding: 0.5rem;
        display: inline-block;
        max-width: 1920px;
        width: 453px;
        height: 453px;
        z-index: 100;
        animation: pulseThemeGlow 2s ease-in-out infinite alternate;
        box-shadow: 0 0 12px 2px $color-primary;
        transition: box-shadow 0.4s ease-in-out;

        img {
            border-radius: 50%;
            width: 453px;
            height: 453px;
        }
    }

    .img-line {
        position: absolute;
        left: calc(50% + 241.5px);
        height: 4px;
        width: calc(100% - calc(50% + 241.5px));
        background-color: $color-primary;
        transform: translateY(-50%);
        z-index: 0;
        animation: pulseThemeGlow 2s ease-in-out infinite alternate;
    }
}