@use '../styles.scss' as *;

:host {
    display: block;
    overflow-x: hidden !important;
}

.about-glow {
    position: absolute;
    top: 50rem;
    right: -25rem;
    z-index: -1;
    width: auto;
    height: auto;
    pointer-events: none;
}


.about-me {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6rem;
    // height: 100vh;

    .about-text {
        max-width: 650px;
        color: $color-click;
        width: fit-content;
        height: auto;

        h2 {
            font-weight: 700;
            font-size: 90px;
            line-height: 50%;
            letter-spacing: 0%;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0%;
        }

        .icon-block {
            display: flex;
            align-items: start;
            gap: 24px;
            margin-bottom: 1rem;

            img {
                width: 48px;
                height: 48px;
            }

            i {
                color: $color-secondary;
                font-size: 1.2rem;
                margin-top: 0.2rem;
            }

            span {
                color: white;
            }
        }
    }

    .about-image {
        position: relative;
        background-color: rgba(20, 29, 47, 1);
        border: 4px solid $color-primary;
        border-radius: 50%;
        padding: 0.5rem;
        display: inline-block;
        max-width: 1920px;
        width: 453px;
        height: 453px;
        z-index: 100;
        // animation: pulseThemeGlow 2s ease-in-out infinite alternate;
        box-shadow: 0 0 12px 2px $color-primary;
        transition: box-shadow 0.4s ease-in-out;

        img {
            border-radius: 50%;
            width: 453px;
            height: 453px;
        }
    }

    .img-line {
        position: absolute;
        left: calc(75% + 241.5px);
        height: 4px;
        width: calc(100% - calc(50% + 241.5px));
        background-color: $color-primary;
        transform: translateY(-50%);
        z-index: 0;
        animation: pulseThemeGlow 2s ease-in-out infinite alternate;
        overflow-x: hidden;
        max-width: 100%;
    }
}

@media (max-width: 1350px) {
    .about-me {
        gap: 0;

        .about-image {
            width: 353px;
            height: 353px;

            img {
                width: 353px;
                height: 353px;
            }
        }
    }
}

@media (max-width: 1124px) {
    .image-container {
        display: none;
    }

    .about-me {
        .img-line {
            display: none;
        }

        .about-text {
            width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .about-me {
        .about-text {
            width: 80%;

            h2 {
                font-size: 64px;
            }
        }
    }
}

@media (max-width: 520px) {
    .about-me {
        height: fit-content;
        margin-bottom: 44px;

        .about-text {
            width: 85%;

            h2 {
                font-size: 64px;
            }
        }
    }
}

@media (max-width: 520px) {
    .about-me {
        height: fit-content;
        margin-bottom: 44px;

        .about-text {
            width: 90%;

            h2 {
                font-size: 44px;
            }

            p {
                font-size: 14px;
            }

            .icon-block {
                span {
                    font-size: 14px;
                }
            }
        }
    }
}