<div class="about-me" id="abtme">
    <div class="about-text">
        <h2>About me</h2>
        <p>Write some information about yourself that is IT related. Why are you passionate about coding? What is your
            source of inspiration for improving your programming skills?</p>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/Capa_1.svg" alt="Location Icon" width="20" height="20">
            <span>Where are you located? Are you open to different ways of working, such as working remotely or even
                relocating?</span>
        </div>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/bulb-desktop.svg" alt="Lightbulb Icon" width="20" height="20">
            <span>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually
                improving your skills?</span>
        </div>

        <div class="icon-block">
            <img src="../../assets/icons/about-me/puzzle-desktop.svg" alt="Puzzle Icon" width="20" height="20">
            <span>A brief description of your problem-solving approach. Do you learn from each challenge as you search
                for the most efficient or elegant solution?</span>
        </div>
    </div>

    <div class="image-container">
        <div class="about-image">
            <img src="../../assets/img/hero/dummy-profile-img.png" alt="Profile Picture" />
        </div>
    </div>
    <div class="img-line"></div>
</div>