<div class="hero-wrapper" id="hero">
    <app-header></app-header>
    <section>
        <div class="top-intro-section">
            <img class="profile-img" src="../../assets/img/hero/dummy-profile-img.png" alt="">
            <div class="hero-content">
                <div class="text-box">
                    <span [ngClass]="SetFontSize()" class="vertical-text">{{'HERO.GREETING'
                        | translate}}</span>
                    <div class="horizontal-text">
                        <h1>Muzammal Anwar</h1>
                        <h2 class="job-title">FULLSTACK DEVELOPER</h2>
                    </div>
                </div>
                <button (click)="scrollService.scrollToId('form', -110)" class="cta-button">{{'HERO.BUTTON' |
                    translate}}</button>
            </div>
        </div>
        <div class="hero-bottom-links">
            <div class="left-side">
                <div class="purple-line"></div>
                <span class="icon-wrapper">
                    <a href="https://github.com/MuzammalAnwar" target="_blank">
                        <img src="../../assets/icons/hero/Github-button.png" alt="">
                    </a>
                </span>
                <span class="icon-wrapper">
                    <a href="mailto:muzammalanwar556@gmail.com" target="_blank">
                        <img src="../../assets/icons/hero/Email-button.png" alt="">
                    </a>
                </span>
                <span class="icon-wrapper">
                    <a href="https://www.linkedin.com/in/muzammal-anwar-06968b2ab/" target="_blank">
                        <img src="../../assets/icons/hero/Linkedin-button.png" alt="">
                    </a>
                </span>
                <a href="mailto:muzammalanwar556@gmail.com" class="text-hover border-hover">
                    muzammalanwar556&#64;gmail.com
                </a>
            </div>
            <div class="scroll-down-text" (click)="scrollService.scrollToId('abtme', -90)">
                <span class="scroll-letter" style="--i: 0">S</span>
                <span class="scroll-letter" style="--i: 1">c</span>
                <span class="scroll-letter" style="--i: 2">r</span>
                <span class="scroll-letter" style="--i: 3">o</span>
                <span class="scroll-letter" style="--i: 4">l</span>
                <span class="scroll-letter" style="--i: 5">l</span>
                <span class="scroll-letter" style="--i: 6">&nbsp;</span>
                <span class="scroll-letter" style="--i: 7">D</span>
                <span class="scroll-letter" style="--i: 8">o</span>
                <span class="scroll-letter" style="--i: 9">w</span>
                <span class="scroll-letter" style="--i: 10">n</span>
                <img class="scroll-arrow" src="../../assets/icons/hero/arrow-down-line.png" alt="">
            </div>
        </div>
        <img class="hero-bg-img" src="../../assets/img/hero/Hero-Background.svg" alt="Background" />
    </section>
</div>