@use '../styles.scss' as *;

:host {
    display: block;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.about-glow {
    position: absolute;
    bottom: -26rem;
    left: -23rem;
    z-index: -1;
    width: auto;
    height: auto;
    pointer-events: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0px;
}

.contact-content {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 617px;
    height: 508px;
    gap: 32px;

    input::placeholder,
    textarea::placeholder {
        color: rgba($color-click, 1);
        font-style: italic;
        transition: color 0.3s ease;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }


    input {
        background: #0f1223;
        border: 1px solid $color-primary;
        font-size: 14px;
        color: $color-click;
        resize: none;
        outline: none;
        height: 50px;
        border-radius: 10px;
        border-width: 1px;
        gap: 10px;
        padding-top: 15px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 25px;
        width: 100%;

        animation: pulseBorderColor 2.5s ease-in-out infinite alternate;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: $color-secondary;
            box-shadow: 0 0 12px 2px $color-primary;
            background: rgba(255, 255, 255, 0.02);
        }

        &:hover {
            border-color: lighten($color-primary, 10%);
            background: rgba(255, 255, 255, 0.02);
            box-shadow: 0 0 6px 1px rgba($color-primary, 0.3);
            box-shadow: 0 0 12px 2px $color-primary;
            transition: all 0.3s ease-in-out;
        }
    }

    textarea {
        background: #0f1223;
        border: 1px solid $color-primary;
        border-radius: 6px;
        padding-top: 15px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 25px;
        width: 100%;
        font-size: 14px;
        color: $color-click;
        resize: vertical;
        outline: none;
        min-height: 100px;
        max-height: 200px;

        animation: pulseBorderColor 2.5s ease-in-out infinite alternate;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: $color-secondary;
            box-shadow: 0 0 12px 2px $color-primary;
            background: rgba(255, 255, 255, 0.02);
        }

        &:hover {
            border-color: lighten($color-primary, 10%);
            background: rgba(255, 255, 255, 0.02);
            box-shadow: 0 0 6px 1px rgba($color-primary, 0.3);
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 12px 2px $color-primary;
        }
    }


    .consent {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #ffffff;
        gap: 8px;

        input[type='checkbox'] {
            accent-color: $color-secondary;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        span a {
            color: $color-primary;
            text-decoration: underline;
        }
    }

    ::ng-deep .consent a {
        color: $color-primary;
        text-decoration: underline;
        font-weight: 500;

        &:hover {
            color: $color-secondary;
        }
    }


    .cta-button {
        border: none;
        border-radius: 8px;
        background-color: gray;
        color: white;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0%;
        transition: background 0.3s;
        width: auto;
        height: 58px;
        border-radius: 10px;
        gap: 10px;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;


        &:enabled {
            background: linear-gradient(to right, $color-secondary 50%, $color-primary 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            animation: pulseThemeGlow 2s ease-in-out infinite alternate;
        }

        &:hover:enabled {
            background-position: left bottom;
            transform: scale(1.05);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.confirmation-animation {
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 12px 20px;
    background-color: rgba($color-primary, 1);
    border: 1px solid rgba($color-primary, 0.3);
    border-radius: 8px;
    color: $color-click;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    animation: slideInRight 0.4s ease-out, slideOutRight 0.4s ease-in 2.6s forwards;
}

.contact-promo {
    color: $color-click;
    width: 50%;

    h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%) translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes slideOutRight {
    to {
        opacity: 0;
        transform: translateX(100%) translateY(0);
        pointer-events: none;
    }
}


@keyframes pulseBorderColor {
    0% {
        border-color: $color-primary;
    }

    100% {
        border-color: $color-secondary;
    }
}

span a {
    color: $color-primary;
    text-decoration: underline;
}

.contact-header {
    margin-bottom: 3rem;

    .section-title {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;

        h2 {
            color: $color-click;
            font-size: 90px;
            font-weight: 700;
            margin: 0;
            line-height: 120%;
            letter-spacing: 0%;
        }

        .line-left {
            flex: 1;
            max-width: 38%;
            height: 4px;
            background-color: $color-primary;
            border-radius: 2px;
            box-shadow: 0 0 12px 2px $color-primary;
            animation: pulseThemeGlow 2.5s ease-in-out infinite alternate;
            transition: box-shadow 0.4s ease-in-out;
        }
    }
}

@media (max-width: 1460px) {
    form {
        width: 38%;
    }

    .contact-promo {
        width: 38%;
    }

    .contact-header {
        .section-title {
            .line-left {
                max-width: 35%;
            }
        }

    }
}


@media (max-width: 960px) {
    .contact-header {
        .section-title {
            .line-left {
                max-width: 30%;
            }
        }

    }
}

@media (max-width: 800px) {
    .contact-header {
        .section-title {
            h2 {
                font-size: 45px;
            }

            .line-left {
                max-width: 5%;
            }
        }
    }

    .contact-content {
        .contact-promo {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    section {
        margin: 15px 0 15px 0;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 77%;
    }

    .contact-promo {
        width: 84%;
    }

    .contact-header {
        margin-bottom: 0rem;
    }
}

@media (max-width: 650px) {
    .contact-promo {
        h2 {
            font-size: 28px;
        }
    }

    form {
        height: auto;

        input {
            height: 40px;
        }

        textarea {
            min-height: 90px;
            max-height: 180px;
        }
    }
}