<header class="text">
    <div class="logo">Muzammal</div>
    <div class="header-links">
        <nav class="nav">
            <a (click)="scrollService.scrollToId('abtme')" class="text-hover border-hover">About me</a>
            <a (click)="scrollService.scrollToId('skillz')" class="text-hover border-hover">Skills</a>
            <a (click)="scrollService.scrollToId('prj')" class="text-hover border-hover" >Portfolio</a>
        </nav>
        <div class="lang-switcher">
            <button class="lang-btn">DE</button>
            <button class="lang-btn active">EN</button>
        </div>
    </div>
</header>