<section id="skillz">
    <img class="about-glow" src="../../assets/img/my-skills/Green-shadow-Skills-Portfolio.svg" alt="glow" />
    <div class="skills">
        <div *ngFor="let skill of skills" class="skill">
            <img [src]="skill.icon" alt="">
            <p>{{skill.name}}</p>
        </div>
    </div>

    <div class="skills-section">
        <h2 class="title">{{'MY_SKILLS.TITLE' | translate}}</h2>
        <p class="description">
            {{'MY_SKILLS.INTRO' | translate}}
        </p>
        <p class="highlight" [innerHTML]="'MY_SKILLS.LOOKING' | translate"></p>
        <p class="note">
            {{'MY_SKILLS.FLEX' | translate}}
        </p>
        <button (click)="scrollService.scrollToId('form')" class="cta-button"> {{'MY_SKILLS.BUTTON' |
            translate}}</button>
    </div>
</section>